:root{
    --main-color: #876A95;
    --border-color: #474A48;
    --main-text-color: #FBFFFE;
    --sub-section-color: #EAEAEB;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
    user-select: none;
}
*::-webkit-scrollbar{
    display: none;
}
header{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
#logo{
    font-size: 64px;
    margin-left: 72px;
    padding-right: 36px;
    border-right: 2px solid var(--border-color);
}
#logo-letter{
    color: var(--main-color);
}
#icons-menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#menu{
    color: var(--main-color);
    text-transform: uppercase;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#menu li{
    padding: 24px;
}
#menu #active-link{
    color: #D62828;
}
#icons-menu{
    margin-right: 72px;
    line-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#icons-menu li i{
    color: var(--border-color);
    padding: 24px;
}
#shopping-cart-icon{
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    line-height: 74px;
}
#icons-menu #shopping-cart-icon i{
    color: #D62828;
}
#icons-menu #menu-icon{
    color: var(--main-color);
}
#landing-page{
    background-image: url("./pictures/main_photo.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#main-page-text{
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 360px;
}
#fresh-food{
    font-size: 48px;
    text-transform: uppercase;
}
#main-page-text h1{
    font-size: 72px;
    text-transform: uppercase;
}
#main-page-text p{
    font-size: 24px;
    padding: 12px;
}
#main-page-text button{
    background-color: var(--main-text-color);
    padding: 12px;
    text-transform: uppercase;
    border-radius: 12px;
    border-color: transparent;
    font-size: 16px;
    color: var(--main-color);
    font-weight: 600;
}
#landing-page-product-box{
    background-color: #FBFFFE;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 1024px;
    padding: 24px 48px;
    margin-top: 240px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#landing-page-product-box img{
    height: 120px;
    width: 120px;
    margin-bottom: 12px;
}
.pbox-element{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding-left: 12px;
    padding-right: 12px;
}

/* sales section */
#sales-sec{
    height: 60vh;
    width: 100vw;
    background-color: var(--sub-section-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}
.sale-box{
    height: 320px;
    width: 560px;
    padding: 50px 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#sales-sec .sale-box img{
    height: 240px;
    align-items: right;
}
.sale-box h2,h3,button{
    text-transform: uppercase;
}
.sale-box button{
    border: transparent;
    border-radius: 12px;
    padding: 16px;
    margin-top: 48px;
    font-weight: 600;
}
.sale-box p{
    padding-top: 12px;
}
#green-sale-box h2{
    color: #FDBA18;
}
#green-sale-box button{
    color: #FDBA18; 
}
#green-sale-box h3{
    font-size: 32px;
}
#green-sale-box{
    background-color: #876A95;
    margin-right: 48px;
}
#yellow-sale-box{
    background-color: #FFC72C;
}
#yellow-sale-box h2,button{
    color: #603578;
}
#yellow-sale-box h3{
    font-size: 32px;
}

/* Bestseller sec */
#bestseller-sec{
    height: 70vh;
    background-color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bestseller-sec h1{
    font-size: 48px;
    text-transform: uppercase;
}
#p-box{
    background-color: var(--main-color);
    text-transform: uppercase;
    padding: 10px 26px;
    color: var(--main-text-color);
}
#bestseller-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bestseller-item-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
.bestseller-item-box h3{
    text-transform: none;
    margin-bottom: 12px;
}
.bestseller-item-box p{
    font-weight: 600;
}
.bestseller-item-box img{
    height: 240px;
    max-width: 240px;
    padding: 24px;
    border: 2px solid var(--border-color);
    margin-bottom: 24px;
}
.rating i{
    color: var(--main-color);
}
.rating{
    margin-bottom: 12px;
}

/* Deal of the Week Section */

#deal-of-week-sec{
    height: 90vh;
    width: 100vw;
    background-image: url("./pictures/deal-of-week.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#deal-of-week-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-text-color);
    width: 1200px;
    padding-top: 36px;
    padding-bottom: 48px;
    margin-top: 360px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#deal-of-week-container .bestseller-item-box img{
    height: 260px;
}
.discount{
    text-decoration: line-through;
}
#deal-paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
    text-transform: uppercase;
    margin-top: 360px;
}
#deal-paragraph h2{
    font-size: 64px;
}
#deal-paragraph h1{
    font-size: 98px;
}
#deal-paragraph p{
    text-transform: none;
    font-weight: 600;
    font-size: 36px;
}

/* Customers section */
#customers-sec{
    height: 100vh;
    background-color: var(--sub-section-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#customers-container{
    background-color: var(--main-text-color);
    height: 800px;
    width: 1200px;
    margin-top: 480px;
    padding-top: 48px;
}
#customers-container img{
    border-radius: 48px 48px;
    height: 240px;
    width: 278px;
}
#customers-container p{
    font-size: 20px;
    padding: 48px 280px;
}
#customers-container i{
    font-size: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--border-color);
}
.customer-comment-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#less-than{
    border-right: 2px solid var(--border-color);
    padding: 0 12px;
}
#greater-than{
    border-left: 2px solid var(--border-color);
    padding:0  12px;
}
#scale-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 98px;
}
#green-scale{
    background-color: green;
    border-radius: 50px;
    width: 36px;
    height: 12px;
}
.grey-dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: grey;
}
#scale-bar span{
    margin: 2px;
}

/* Latest News Section */
#latest-news-sec{
    height: 80vh;
    background-color: var(--sub-section-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Delivery Section */
.delivery-sec{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
}
.delivery-sec::before {
    content: "";
    background-image: url("./pictures/delivery-sec.jpg");
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
h1{
    position: relative; 
}

